main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f9;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}
main p{
    margin: 30px;
    color: blue;
}
label {
    margin-top: 10px;
    display: block;
}
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
select {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #0056b3;
}